<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">

    <h1 th:text="${title}"></h1>

    <form method="post" style="max-width:600px;" th:object="${item}">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}" />
            <span th:errors="*{name}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="name">Price</label>
            <input class="form-control" th:field="*{price}" />
            <span th:errors="*{price}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="description">Description</label>
            <input class="form-control" th:field="*{description}" />
            <span th:errors="*{description}" class="error"></span>
        </div>
        <div class="form-group">
            <input type="checkbox" id="newItem"
                   name="newItem" value="true" checked="checked" />
            <label for="newItem">New Item</label>
        </div>

        <input type="submit" value="Add Item" />
    </form>

</div>

</body>

</html>